body{
    background-color: rgb(244, 241, 241);
}
h1{
    font-size: 28px;
    font-style: normal;
    font-weight: bold;   
}
span{
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
}
nav{
    padding-right: 2%;
}
.header{
    text-align:right;
}
.Resume {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    display: inline;
    border-right-style: ridge;
    border-right-color: black;
    border-right-width: 2px;
    column-gap: 2px;
}
.Projects {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    display: inline;
    margin: 0.5em;
    border-right-style: ridge;
    border-right-color: black;
    border-right-width: 2px;
}
.Contact{
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    display: inline;
}
a{
    color: black;
    text-decoration: none;
}
h2{
    font-size:40px;
    margin-left: 15%;
    margin-right: 15%;
}
h3{
    font-size: 28px;
}
.container1{
    display: flex;
    margin-top: 50px;
}
.sec{
align-items: center;
margin-left: 15%;
margin-right: 4%;
}
.img1{
    margin-right: 15%; 
    margin-top: 4%;
    margin-left: 5%; 
    align-items: center;
}
img{
    width: 500px;
}
.p1{
    word-spacing: 10px;
    font-style:normal;
    font-weight: 300;
    font-size: 15px;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
}
.footer{
    display: flex;
    padding: 100px 100px 100px 100px;
    column-gap: 100px;
    margin-left: 200px;
    margin-top: 100px;
}
.instagram{
    width: 30px;
    height: 30px;
}
footer{
    padding: 0;
    margin: 0;
    text-align: center;
}
.footer{
    padding:0; 
}
.footerul{
    list-style: none;
    width: 200px;
}